---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-openukr-openukr-io-v1alpha1-keyprofile
  failurePolicy: Fail
  name: mkeyprofile-v1alpha1.kb.io
  rules:
  - apiGroups:
    - openukr.openukr.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - keyprofiles
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-openukr-openukr-io-v1alpha1-keyprofile
  failurePolicy: Fail
  name: vkeyprofile-v1alpha1.kb.io
  rules:
  - apiGroups:
    - openukr.openukr.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - keyprofiles
  sideEffects: None
